# LLM Configuration
LLM_API_BASE=https://your-ngrok-url.ngrok-free.dev/v1
LLM_MODEL_NAME=Qwen/Qwen3.5-4B
LLM_API_KEY=not-needed

# Database Configuration
DB_USER=admin
DB_PASSWORD=admin123
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=cvfiltering

# Application Settings
APP_TITLE=CV Filtering API
DEBUG=True
MAX_CONCURRENT_LLM=10

# API Keys for modules security
API_KEY_JOB_PARSER=your-job-parser-api-key-here
API_KEY_EXTRACT_TAGGER=your-extract-tagger-api-key-here
API_KEY_FILTERING=your-filtering-api-key-here
API_KEY_MIX_MATCH=your-mix-match-api-key-here

# Celery & Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=


